
<div>
    <h1 class="h1 my-5">Bonjour dans votre acceuille </h1>
    <p class="text-info">
        <ul class="li list-group my-5">
            <li>Là ou vous pouvez controler les résultats de COVID-19</li>
            <li>Modifier les résultats</li>
            <li>Vous pouver ajouter/modifiér les villes et les régions</li>
            <li>Vous pouver aussi controler les autorisations</li>
            <li>Les valeurs sisié ici vont étre génerer se forme d'un API</li>
            <li>API génerer serra consomer par une page web qui va afficher toutes les informations correspendant</li>
        </ul>
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>